---
import "../styles/global.css";
---

<nav class="flex w-full">
    <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Sabre mi</a></li>
        <li><a href="#">Servi     ccccios legales</a></li>
    </ul>
</nav>
